/* Dark Theme */
$--theme-dark: #151515;
$--primary-dark: #e5e5e5;

/* Light Theme */
$--theme: #fbfbfb;
$--primary: #1b212e;
$--secondary: #1b212e91;
$--card-bg: #cbddf36e;
$--tags-bg: #acc3d785;

$--code: #d9d9d9;
$--code-bg: #0d131c;
$--link: #0c64c1;
$--hr: #e5e5e5;
