@import "@styles/colors.module";

.navLogo {
    font-size: 1.2em;
    transition: transform 0.3s ease-in-out;

    background: linear-gradient(to right, #1f4d93 20%, #494745 40%, #46538a 60%, #37468e 80%);
    background-size: 200% auto;

    color: #000;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 1.5s alternate infinite;

    &:hover {
        text-decoration: none;
        transform: rotate(-5deg);
        transition: transform 0.3s ease-in-out;
    }
}

// .mobileNavLink {
//     display: none;
//     padding-bottom: 6em;
// }

.header {
    animation: 1s forwards introLoad ease-out;
}

@keyframes shine {
    to {
        background-position: 200% center;
    }
}

@keyframes introLoad {
    from {
        top: -5em;
        opacity: 0.5;
    }
    to {
        top: 0;
        opacity: 1;
    }
}