@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
    font-family: AmazonEmberDisplay;
    src: url(../public/font/AmazonEmberDisplay.otf);
}
@font-face {
    font-family: AmazonEmberDisplayMedium;
    src: url(../public/font/AmazonEmberDisplayMedium.ttf);
}

html,
body {
    text-rendering: optimizeLegibility;
    min-width: 300px;
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
    line-height: 1.666667;
    font-size: 16px;
    text-underline-offset: 3px;
}

h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.25rem;
}
h4 {
    font-size: 1rem;
}
h1,
h2,
h3,
h4,
h5 {
    font-family: AmazonEmberDisplay;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

code {
    background-color: rgba(98, 174, 255, 0.2);
    font-size: 0.9rem;
    font-family: Courier, monospace;
    padding: 1px 4px;
    margin: auto 2px;
    border-radius: 3px;
}

pre {
    margin: 0.5em 0;
    code {
        background-color: transparent;
        padding: 0 !important;
    }

    div {
        border-radius: 10px;
    }
}

img {
    max-width: 80%;
    border-radius: 5px;
}

hr {
    margin: 2em auto;
    opacity: 0.5;
    color: #e5e5e5;
}

ul, 
ol {
    margin-left: 1em;
}
ul > li {
    list-style: disc;

    > ul > li {
        list-style: circle;
        
        ul > li {
            list-style: square;
        }
    }
}

ol > li {
    list-style: decimal;

    ol>li {
        list-style: upper-alpha;

        ol>li {
            list-style: lower-alpha;
        }
    }
}

li {
    box-shadow: none;
    overflow-wrap: break-word;

    ol,
    ul {
        margin-left: 2em;
    }
}

blockquote {
    &::before {
        content: "\201C";
        font-size: 5rem;
        line-height: 0.78;
        line-height: 1;
        position: absolute;
        top: -5px;
        left: 0;
        z-index: 1;
        font-family: sans-serif, serif;
        color: #bbb;
    }
    position: relative;
    margin: 2rem auto;
    padding-left: 1.5rem;
    opacity: 0.9;

    p {
        padding: 2px 0.5em 2px 1em;
    }
}

article {
    p {
        margin: 1.5rem 0;
    }

    a {
        color: unset;
        border-bottom: 2px solid #33a4ff;

        &:hover {
            text-decoration: none;
        }
    }
}

section[role="doc-endnotes"] {
    font-size: 14px;

    ul, ol {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.footnote-ref {
    color: 456eda;
    font-weight: bold;
    border: none;
    margin-left: 1px;
}
.footnote-back {
    margin-left: 5px;
    text-decoration: none;
    border: none;
}

.about-wrapper {
    p {
        margin-bottom: 1.5rem;
    }
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid gainsboro;
    padding: 0.5em 1em;
}

table tr:nth-child(even) {
    background-color: #f1f1f1;
}