@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "@styles/colors.module";

@font-face {
    font-family: AmazonEmberDisplay;
    src: url(../public/font/AmazonEmberDisplay.otf);
}
@font-face {
    font-family: AmazonEmberDisplayMedium;
    src: url(../public/font/AmazonEmberDisplayMedium.ttf);
}

$--root: 16px;

* {
    box-sizing: border-box;
}

html,
body {
    min-width: 300px;
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
    line-height: 1.666667;
    font-size: $--root;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: AmazonEmberDisplay;
    margin-top:1rem;
    margin-bottom:1rem;
    font-weight: bold;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 1.1em;
}

h4 {
    font-size: 1.0em;
}

h5 {
    font-size: 0.8em;
}

main {
    position: relative;
}

li {
    position: relative;

    a {
        color: unset;
        border-bottom: 1.5px solid #51a5ff;

        &:hover {
            text-decoration: none;
        }
    }
}

table {
    border: 1px solid #eee;
    margin: 5px 0 10px;
    font-size: 16px;

    thead {
        th {
            color: #000;
            padding: 2px 10px;
            min-width: 100px;
            border: 1px solid #eee;
            font-weight: 600;
        }
    }

    tbody {
        td {
            border: 1px solid #eee;
            padding: 1px 10px;
        }
    }
}

code {
    background-color: rgba(12, 100, 193, 0.1);
    color: rgba(12, 100, 193, 1.0);
    font-size: 0.9rem;
    font-family: monospace;
    padding: 1px 4px;
    margin: auto 2px;
    border-radius: 3px;
}

pre {
    margin-bottom: 2rem;
    code {
        background-color: transparent;
        padding: 0 !important;
    }

    div {
        border-radius: 10px;
    }
}

ul, 
ol {
    margin-left: 1em;
}
ul > li {
    list-style: disc;

    > ul > li {
        list-style: circle;
        
        ul > li {
            list-style: square;
        }
    }
}

ol > li {
    list-style: decimal;

    ol>li {
        list-style: upper-alpha;

        ol>li {
            list-style: lower-alpha;
        }
    }
}

li {
    box-shadow: none;
    overflow-wrap: break-word;

    ol,
    ul {
        margin-left: 2em;
    }
}

hr {
    margin-bottom: 2em;
    border-color: $--hr;
}

blockquote {
    &::before {
        content: "\201C";
        font-size: 5rem;
        line-height: 0.78;
        line-height: 1;
        position: absolute;
        top: -5px;
        left: 0;
        z-index: 1;
        font-family: sans-serif, serif;
        color: #bbb;
    }
    position: relative;
    margin: 2rem auto;
    padding-left: 1.5rem;
    opacity: 0.9;

    p {
        padding: 2px 0.5em 2px 1em;
    }
}

footer {
    a {
        color: $--primary;
        font-weight: 500;
    }

    img {
        margin: 0 0.35em;
    }
}

.postHeader {
    display: flex;
    justify-content: space-between;
    animation: slideDown 1s forwards cubic-bezier(0.075, 0.82, 0.165, 1);

    & > div:first-child {
        font-size: 1.4rem;
    }

    & > div:last-child {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        div {
            font-size: 0.8rem;
            margin: auto 8px;
        }
    }


    a {
        color: rgb(27, 33, 46);

        &:hover {
            text-decoration: none;
        }
    }

    span {
        pointer-events: none;
    }
}

article {
    p:not(:last-child) {
        margin-bottom: 2rem;
    }

    p {
        a {
            color: unset;
            border-bottom: 1.5px solid #51a5ff;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

header {
    .currentPage {
        backdrop-filter: invert(1);
        padding: 0 4px;
        a {
            color: white;
            // text-decoration: underline 10% rgb(50, 50, 50);
            // text-underline-offset: 18%;
        }
    }
}

img {
    max-width: 80%;
}

@keyframes slideDown {
    from {
        transform: translateY(-500%);
    }

    to {
        transform: translateY(0%);
    }
}

.hero {
    max-height: 300px !important;
    overflow: hidden;
    img {
        max-height: 300px !important;
        width: 100vw !important;
        object-fit: cover;
    }
}

section[role="doc-endnotes"] {
    margin-top: 5em;
    font-size: 14px;

    ul, ol {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.footnote-ref {
    color: #4b8fd8;
    font-weight: bold;
    border: none;
    margin-left: 1px;
}
.footnote-back {
    margin-left: 5px;
    text-decoration: none;
    border: none;
}