@import "@styles/colors.module";

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.postHeader {
    padding: 1.2em;
    margin: 0.5em 0;
    border-radius: 8px;
}

.tags {
    div {
        border-radius: 5px;
    }
}

.circleImage {
    border-radius: 50%;
    overflow: initial;
}
.squareImage {
    border-radius: 20%;
}

.roundedImage {
    border-radius: 10px;
}
.mr_2 {
    margin-right: 2rem !important;
}

.hidden {
    display: none !important;
}

.loadDown {
    animation: loadDown 1.5s forwards ease-in-out;
}

.loadUp {
    animation: loadUp 1s forwards ease-out;
}

@keyframes loadDown {
    0% {
        transform: translateY(-400px);
    }
    80% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes loadUp {
    0% {
        transform: translateY(30em);
    }
    80% {
        transform: translateY(-1em);
    }
    100% {
        transform: translateY(0);
    }
}